body {
    background-color: #eee;
    font: helvetica;
}

#container {
    width: 900px;
    background-color: #fff;
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px;
}

#container h2 {
	color: #28346d;
}

#container .green {
    font-weight: bold;
    color: green;
}

#container .message {
    margin-bottom: 10px;
}

#container label {
    width: 100px;
    display: inline-block;
}

#container #saveCustomer {
	width: 450px;
}

#container #saveCustomer input[type="text"] {
	margin: 2px;
}

#container .hide {
    display: none;
}

#container .error {
    color: red;
    font-size: 0.8em;
}

#container table {
/* 	margin: 0 auto; */
    width: 900px;
    background:#D3E4E5;
    border:5px medium;
    border-collapse:collapse;
    color:#fff;
    font:normal 12px verdana, arial, helvetica, sans-serif;
/*     text-align: center; */
}

#container caption {
    border:1px solid #28346d;
    color: #28346d;
    font-weight:bold;
    letter-spacing:20px;
    padding:6px 4px 8px 0px;
    text-align:center;
    text-transform:uppercase;
}

#container td, #container th {
    color:#28346d;
    padding:.4em;
}

#container tr {
    border:1px dotted gray;
}

#container thead th, #container tfoot th {
    background:#28346d;
    color:#FFFFFF;
    padding:3px 10px 3px 10px;
    text-align:center;
    text-transform:uppercase;
}

#container tfoot td {
	text-align: center;
}

#container input[type="text"] {
	width: 300px;
	height: 20px;
	padding: 2px;
	margin: 2px;
	margin-bottom: 30px;
}

#container textarea {
	color: #03d327;
	background: black;
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 7px;
}

#container #theJson {
	color: #660092;
}

#container button, #container input[type="submit"] {
	margin: 10px 0px;
}